@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Red+Hat+Text:ital,wght@0,300    ..700;1,300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.floor{
	display: flex;
	background-color: black;
	color: white;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: start;
	align-items: center;
	font-family: Manrope;
	opacity: 0.9;
	height: 60px;
}	
			
.floor-box{
	padding-left: 30px;
	padding-right: 30px;
	height: 60px;	
	display: flex;
	justify-content: center;
	align-items: center;
}
			
.floor-box:hover{
	opacity: 0.8;
}

.link {
	color: white;
}

